.btn-col{
  border-radius: 37px;
    background: linear-gradient(90deg, #1B0B54 0%, #3D3F87 26.35%, #4E89B1 49.38%, #256C78 60.36%);
  width: 35%;
}
@media screen and (max-width: 480px){
  .btn-col{
   margin-left: 20px;
  }
}


.text-col {
background: linear-gradient(90deg, #1B0B54 0%, #6EDAEC 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: normal;
font-weight: 800;
line-height: 153.5%;
}

.blur1{
  position: absolute;
  width: 30%;
  height: 522.938px;
  top: 0;
  left: 0;
border-radius: 50%;
background: linear-gradient(144deg, #1b0b542f 0%, #4e89b12b 100%);
filter: blur(85px);
}

.blur2{
border-radius: 481.897px;
background: #62257820;
filter: blur(85px);
 position: absolute;
  width: 30%;
  height: 522.938px;
  top: -30;
  left: -50;
border-radius: 50%;
}

.blur3{
border-radius: 452.012px;
background: #6ed9ec1c;
filter: blur(85px);
 position: absolute;
  width: 30%;
  height: 522.938px;
  top: 0;
  left: 1000px;
  right: 0;
border-radius: 50%;
}

@media screen and (max-width: 480px){
  *{
    overflow-x: hidden;
  }
  .blur1, .blur2, .blur3{
    display: none;
  }
  .hero-h1{
    text-align: unset;
    padding: 30px 30px;
    font-size: 35px;
    width: 90%;
    margin-bottom: 0px;
    margin-top: 35px;
  }

  .p-h1{
    text-align: unset;
    padding: 0px 30px;
   line-height:25px;
   width: 80%;
  }

  .hero-img{
    width: 80%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px){
  *{
    overflow-x: hidden;
  }
  .hero-h1{
    text-align: unset;
    padding: 30px 30px;
    font-size: 35px;
    width: 90%;
    margin-bottom: 0px;
    margin-top: 35px;
  }

  .hero-btn{
    margin-left: 20px;
  }

  .p-h1{
    text-align: unset;
    padding: 0px 30px;
   line-height:25px;
   width: 80%;
  }

  .hero-img{
    width: 80%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 375px){
  *{
    overflow-x: hidden;
  }
  .hero-h1{
    text-align: unset;
    padding: 30px 30px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 35px;
  }

  .p-h1{
    text-align: unset;
    padding: 0px 30px;
   line-height:25px;
   width: 100%;
   font-size: 14px;
  }

  .hero-img{
    width: 80%;
    margin-left: 20px;
  }
}
