.puzzel2{
 position: absolute;
  width: 30%;
  top: 170%;
  left: 850px;
  right: 0;
}

.bg-col{
    background-color: rgba(174, 97, 201, 0.15);
    width: 40%;
    padding: 20px 20px;
    border-radius: 20px;
}

.bg-col2{
    background-color: rgba(110, 218, 236, 0.29);
    width: 40%;
    padding: 20px 20px;
    border-radius: 20px;
}

.g-bg{
    background-color: rgba(217, 217, 217, 0.257);
    height: 693px;
    width: 100%;
    padding-top: .1rem;
    margin-top: 5rem;
}

@media screen and (max-width: 480px){
.sev-con{
    display: block;
    margin-top: 0px;
}
.puzzel2{
    display: none;
}
.bg{
    margin-top: 50px;
}
.sev-h1{
text-align: unset;
margin-left: 20px;
}
.sev-h1-sub{
    font-size: 25px;
    overflow: hidden;
}
.bg-col, .bg-col2{
    width: 90%;
}
.bg-col{
    margin-bottom: 40px;
}
.g-bg{
    height: unset;
    padding-bottom: 40px;
}
}

@media screen and (max-width: 500px){
.sev-con{
    display: block;
    margin-top: 0px;
}
.bg{
    margin-top: 50px;
}
.sev-h1{
text-align: unset;
margin-left: 20px;
}
.sev-h1-sub{
    font-size: 25px;
    overflow: hidden;
}
.bg-col, .bg-col2{
    width: 90%;
}
.bg-col{
    margin-bottom: 40px;
}
.g-bg{
    height: unset;
    padding-bottom: 40px;
}
}

@media screen and (max-width: 375px){
.sev-con{
    display: block;
    margin-top: 0px;
}
.bg{
    margin-top: 50px;
}
.sev-h1{
text-align: unset;
margin-left: 20px;
}
.sev-h1-sub{
    font-size: 25px;
    overflow: hidden;
}
.bg-col, .bg-col2{
    width: 90%;
}
.bg-col{
    margin-bottom: 40px;
}
.g-bg{
    height: unset;
    padding-bottom: 40px;
}
.w-p{
    width: 100%;
}
.bx{
    display: flex;
}
}

@media screen and (max-width: 414px){
.sev-con{
    display: block;
    margin-top: 0px;
}
.bg{
    margin-top: 50px;
}
.sev-h1{
text-align: unset;
margin-left: 20px;
}
.sev-h1-sub{
    font-size: 25px;
    overflow: hidden;
}
.bg-col, .bg-col2{
    width: 90%;
}
.bg-col{
    margin-bottom: 40px;
}
.g-bg{
    height: unset;
    padding-bottom: 40px;
}
.w-p{
    width: 100% !important;
}
.bx{
    display: flex;
}
}