
.small-box {
  width: 21px;
  height: 19px;
  flex-shrink: 0;
  border-radius: 5px;
  opacity: 0.6;
  background: #256c78;
}

.b-col {
  width: 50%;
  height: 420px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #cfeff4;
}

#home5{
  display: none ;
}

@media screen and (max-width: 480px){
  .absolute-left{
  left: 0px;
  margin-left: 20px;
  }
  #home4{
    display: none !important;
  }
  #home5{
    display: block;
    margin-top: 0px;
  }
  .absolute-ml{
    margin-left: 0px;
  }
  .m-top{
    margin-right: 50px !important;
  }
  .pro-p{
    margin-left: 20px;
  }
  .pro-h{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
    margin-left: 20px;
  }
  .pt{
    margin-left: 20px;
  }
  .p-b{
    margin-bottom: 20px;
  }
  .pro-img{
    width: 90%;
    margin-left: 20px;
  }
  .pro-sub{
    text-align: unset;
    margin-left: 20px;
  }
  .pro-sub-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
  .pro-t{
    margin-top: 90px;
  }
  .con{
    margin-top: 40px;
  }

  .con2{
    display: block;
  }
  .b-col{
    width: 100%;
    height: 40vh;
  }
  .po{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
  }
  .poo{
    margin-bottom: 20px;
  }
  .pro-fo{
    margin-left: 0px;
    padding: 20px;
  }
  .p-btn{
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px){
  .absolute-left{
  left: 0px;
  margin-left: 20px;
  }
  #home4{
    display: none !important;
  }
  #home5{
    display: block;
    margin-top: 0px;
  }
  .absolute-ml{
    margin-left: 0px;
  }
  .m-top{
    margin-right: 50px !important;
  }
  .pro-p{
    margin-left: 20px;
  }
  .pro-h{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
    margin-left: 20px;
  }
  .pt{
    margin-left: 20px;
  }
  .p-b{
    margin-bottom: 20px;
  }
  .pro-img{
    width: 90%;
    margin-left: 20px;
  }
  .proj{
    margin-left: 20px;
  }
  .pro-sub{
    text-align: unset;
    margin-left: 20px;
  }
  .pro-sub-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
  .pro-t{
    margin-top: 90px;
  }
  .con{
    margin-top: 40px;
  }

  .con2{
    display: block;
  }
  .b-col{
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .po{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
  }
  .poo{
    margin-bottom: 20px;
  }
  .pro-fo{
    margin-left: 0px;
    padding: 20px;
  }
  .p-btn{
    margin-left: 0px;
  }
}

@media screen and (max-width: 375px){
  .absolute-left{
  left: 0px;
  margin-left: 20px;
  }
  #home4{
    display: none !important;
  }
  #home5{
    display: block;
    margin-top: 0px;
  }
  .absolute-ml{
    margin-left: 0px;
  }
  .m-top{
    margin-right: 50px !important;
  }
  .pro-p{
    margin-left: 20px;
  }
  .pro-h{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
    margin-left: 20px;
  }
  .pt{
    margin-left: 20px;
  }
  .p-b{
    margin-bottom: 20px;
  }
  .pro-img{
    width: 90%;
    margin-left: 20px;
  }
  .proj{
    margin-left: 20px;
  }
  .pro-sub{
    text-align: unset;
    margin-left: 20px;
  }
  .pro-sub-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
  .pro-t{
    margin-top: 90px;
  }
  .con{
    margin-top: 40px;
  }

  .con2{
    display: block;
  }
  .b-col{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .po{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
  }
  .poo{
    margin-bottom: 20px;
  }
  .pro-fo{
    margin-left: 0px;
    padding: 20px;
  }
  .p-btn{
    margin-left: 0px;
  }
}

@media screen and (max-width: 414px){
  .absolute-left{
  left: 0px;
  margin-left: 20px;
  }
  #home4{
    display: none !important;
  }
  #home5{
    display: block;
    margin-top: 0px;
  }
  .absolute-ml{
    margin-left: 0px;
  }
  .m-top{
    margin-right: 50px !important;
  }
  .pro-p{
    margin-left: 20px;
  }
  .pro-h{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
    margin-left: 20px;
  }
  .pt{
    margin-left: 20px;
  }
  .p-b{
    margin-bottom: 20px;
  }
  .pro-img{
    width: 90%;
    margin-left: 20px;
  }
  .proj{
    margin-left: 20px;
  }
  .pro-sub{
    text-align: unset;
    margin-left: 20px;
  }
  .pro-sub-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
  .pro-t{
    margin-top: 90px;
  }
  .con{
    margin-top: 40px;
  }

  .con2{
    display: block;
  }
  .b-col{
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  .po{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
  }
  .poo{
    margin-bottom: 20px;
  }
  .pro-fo{
    margin-left: 0px;
    padding: 20px;
  }
  .p-btn{
    margin-left: 0px;
  }
}

@media screen and (max-width: 360px){
  .absolute-left{
  left: 0px;
  margin-left: 20px;
  }
  #home4{
    display: none !important;
  }
  #home5{
    display: block;
    margin-top: 0px;
  }
  .absolute-ml{
    margin-left: 0px;
  }
  .m-top{
    margin-right: 50px !important;
  }
  .pro-p{
    margin-left: 20px;
  }
  .pro-h{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
    margin-left: 20px;
  }
  .pt{
    margin-left: 20px;
  }
  .p-b{
    margin-bottom: 20px;
  }
  .pro-img{
    width: 90%;
    margin-left: 20px;
  }
  .proj{
    margin-left: 20px;
  }
  .pro-sub{
    text-align: unset;
    margin-left: 20px;
  }
  .pro-sub-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
  .pro-t{
    margin-top: 90px;
  }
  .con{
    margin-top: 40px;
  }

  .con2{
    display: block;
  }
  .b-col{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .po{
    text-align: unset;
    overflow: hidden;
    font-size: 25px;
  }
  .poo{
    margin-bottom: 20px;
  }
  .pro-fo{
    margin-left: 0px;
    padding: 20px;
  }
  .p-btn{
    margin-left: 0px;
    width: 40%;
  }
}