.puzze{
 position: absolute;
  width: 30%;
  top:2%;
  bottom: 300px;
  left: 850px;
  right: 0;
}

@media screen and (max-width: 480px){
  .app-con{
    margin-left: 0px;
  }
  .app-set{
    width: 90%;
    margin-left: 50px;
  }
  .app-p{
    margin-left: 20px;
    margin-top: 40px;
  }
  .app-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
  }
  .app-text{
    padding: 20px;
  }
}

@media screen and (max-width: 500px){
  .app-con{
    margin-left: 0px;
  }
  .app-set{
    width: 90%;
    margin-left: 20px;
  }
  .app-p{
    margin-left: 20px;
    margin-top: 40px;
  }
  .app-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
  }
  .app-text{
    padding: 20px;
  }

  .app-btn{
    margin-left: 20px;
  }
}

@media screen and (max-width: 375px){
  .app-con{
    margin-left: 0px;
  }
  .app-set{
    width: 90%;
    margin-left: 15px;
  }
  .app-p{
    margin-left: 20px;
    margin-top: 40px;
  }
  .app-h1{
    text-align: unset;
    margin-left: 20px;
    font-size: 25px;
    overflow: hidden;
  }
  .app-text{
    padding: 20px;
  }

  .app-btn{
    margin-left: 20px;
  }
}