@media screen and (max-width: 480px){
    .train-h1{
        margin-top: 80px;
        font-size: 30px;
        text-align: unset;
        margin-left: 20px;
    }
    #home1{
        display: none;
    }
    #home2{
        display: block;
        margin-top: 50px;
    }
    .train-p{
        text-align: unset;
        margin-left: 20px;
    }
    .training-img{
        margin-left: 20px;
    }
    .train-sub-p{
        text-align: unset;
        margin-left: 20px;
    }
    .trainn{
        text-align: unset;
        margin-left: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .tl{
        margin-left: 20px;
        padding-right: 3.9px;
    }
    .train-img{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .train-top{
        margin-top: 50px;
    }
    .train-box{
        display: block;
        padding: 20px;
    }
    .box1-bg, .box2-bg, .box3-bg{
        width: 100%;
        overflow: hidden !important;
        margin-bottom: 10px;
    }
    .train-le{
        margin-left: 0;
    }
    .train-im{
    width: 90%;
    margin-left: 20px;
    }
    .train-app{
        margin-left: 20px;
        margin-top: 10px;
        text-align: unset;
        overflow: hidden;
    }
    .tp{
        padding: 20px;
    }

}

@media screen and (max-width: 500px){
    .train-h1{
        margin-top: 80px;
        font-size: 30px;
        text-align: unset;
        margin-left: 20px;
    }
    #home1{
        display: none;
    }
    #home2{
        display: block;
        margin-top: 50px;
    }
    .train-p{
        text-align: unset;
        margin-left: 20px;
    }
    .training-img{
        margin-left: 20px;
    }
    .train-sub-p{
        text-align: unset;
        margin-left: 20px;
    }
    .trainn{
        text-align: unset;
        margin-left: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .tl{
        margin-left: 20px;
        padding-right: 3.9px;
    }
    .train-img{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .train-top{
        margin-top: 50px;
    }
    .train-box{
        display: block;
        padding: 20px;
    }
    .box1-bg, .box2-bg, .box3-bg{
        width: 100%;
        overflow: hidden !important;
        margin-bottom: 10px;
    }
    .train-le{
        margin-left: 0;
    }
    .train-im{
    width: 90%;
    margin-left: 20px;
    }
    .train-app{
        margin-left: 20px;
        margin-top: 10px;
        text-align: unset;
        overflow: hidden;
    }
    .tp{
        padding: 20px;
    }
.sou-btn{
    margin-left: 20px;
}

}