.training-img{
    width: 90%;
}

.box1{
    border-radius: 10px;
opacity: 0.6;
background: #256C78;
width: 73px;
height: 67px;
flex-shrink: 0;
}

.box1-bg{
    border-radius: 20px;
background: #CFEFF4;
width: 387px;
height: 360px;
flex-shrink: 0;
}

.box2{
    border-radius: 10px;
opacity: 0.6;
background: #622578;
width: 73px;
height: 67px;
flex-shrink: 0;
}

.box2-bg{
    border-radius: 20px;
background: #ECE1F0;
width: 387px;
height: 360px;
flex-shrink: 0;
}

.box3{
    border-radius: 10px;
opacity: 0.6;
background: #D0CC9F;
width: 73px;
height: 67px;
flex-shrink: 0;
}

.box3-bg{
    border-radius: 20px;
background: #FBF9E5;
width: 387px;
height: 360px;
flex-shrink: 0;
}

#home2{
    display: none;
}

@media screen and (max-width: 480px){
    .train-h1{
        margin-top: 80px;
        font-size: 30px;
        text-align: unset;
        margin-left: 20px;
    }
    #home1{
        display: none;
    }
    #home2{
        display: block;
        margin-top: 50px;
    }
    .train-p{
        text-align: unset;
        margin-left: 20px;
    }
    .training-img{
        margin-left: 20px;
    }
    .train-sub-p{
        text-align: unset;
        margin-left: 20px;
    }
    .trainn{
        text-align: unset;
        margin-left: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .tl{
        margin-left: 20px;
        padding-right: 3.9px;
    }
    .train-img{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .train-top{
        margin-top: 50px;
    }
    .train-box{
        display: block;
        padding: 20px;
    }
    .box1-bg, .box2-bg, .box3-bg{
        width: 100%;
        overflow: hidden !important;
        margin-bottom: 10px;
    }
    .train-le{
        margin-left: 0;
    }
    .train-im{
    width: 90%;
    margin-left: 20px;
    }
    .train-app{
        margin-left: 20px;
        margin-top: 10px;
        text-align: unset;
        overflow: hidden;
        font-size: 25px;
    }
    .tp{
        padding: 20px;
    }

    .g-bg{
        padding: 20px 20px;
    }
}

@media screen and (max-width: 500px){
    .train-h1{
        margin-top: 80px;
        font-size: 30px;
        text-align: unset;
        margin-left: 20px;
    }
    #home1{
        display: none;
    }
    #home2{
        display: block;
        margin-top: 50px;
    }
    .train-p{
        text-align: unset;
        margin-left: 20px;
    }
    .training-img{
        margin-left: 20px;
    }
    .train-sub-p{
        text-align: unset;
        margin-left: 20px;
    }
    .trainn{
        text-align: unset;
        margin-left: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .tl{
        margin-left: 20px;
        padding-right: 3.9px;
    }
    .train-img{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .train-top{
        margin-top: 50px;
    }
    .train-box{
        display: block;
        padding: 20px;
    }
    .box1-bg, .box2-bg, .box3-bg{
        width: 100%;
        overflow: hidden !important;
        margin-bottom: 10px;
    }
    .train-le{
        margin-left: 0;
    }
    .train-im{
    width: 90%;
    margin-left: 20px;
    }
    .train-app{
        margin-left: 20px;
        margin-top: 10px;
        text-align: unset;
        overflow: hidden;
        font-size: 30px;
    }
    .tp{
        padding: 20px;
    }

    .g-bg{
        padding: 20px 20px;
    }
    .train-btn{
        margin-left: 20px;
    }
}