.text-cl p{
    color: #03010a !important;
    font-weight: 900 !important;
}

.width{
width: 350px;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

@media screen and (max-width: 480px){
    .nav-fix{
        position: fixed;
    }
    .nav{
        display: none;
    }

    .app-logo{
        margin-left: 0px;
        width: 30%;
    }
}

@media screen and (max-width: 500px){
    .nav-fix{
        position: fixed;
    }
    .nav{
        display: none;
    }

    .app-logo{
        margin-left: 0px;
        width: 30%;
    }
}