.puzzel{
 position: absolute;
  width: 30%;
  top: 90%;
  left: 850px;
  right: 0;
}

.home-2{
  display: none !important;
}

@media screen and (max-width: 480px){
.home-1{
  display: none;
}
.home-2{
  display: block !important;
  margin-top: 50px;
}
.abt-p{
  margin-left: 20px;
}
.abt-h1{
text-align: unset;
margin-left: 20px;
font-size: 25px;
overflow: hidden;
}
.abt-des{
  overflow-y: hidden;
  padding: 5px 5px;
  margin-left: 20px;
}

.abt-img{
  width: 85%;
  text-align: center;
  margin-left: 35px;
}
}

@media screen and (max-width: 500px){
.home-1{
  display: none;
}
.puzzel{
  display: none;
}
.home-2{
  display: block !important;
  margin-top: 50px;
}
.abt-p{
  margin-left: 20px;
}
.abt-h1{
text-align: unset;
margin-left: 20px;
font-size: 25px;
overflow: hidden;
}
.abt-des{
  overflow-y: hidden;
  padding: 5px 5px;
  margin-left: 20px;
}

.abt-img{
  width: 85%;
  text-align: center;
  margin-left: 35px;
}
}

@media screen and (max-width: 375px){
.home-1{
  display: none;
}
.home-2{
  display: block !important;
  margin-top: 50px;
}
.abt-p{
  margin-left: 20px;
}
.abt-h1{
text-align: unset;
margin-left: 20px;
font-size: 25px;
overflow: hidden;
}
.abt-des{
  overflow-y: hidden;
  padding: 5px 5px;
  margin-left: 20px;
  font-size: 14px;
}

.abt-img{
  width: 85%;
  text-align: center;
  margin-left: 30px;
}
}

@media screen and (max-width: 414px){
.home-1{
  display: none;
}
.home-2{
  display: block !important;
  margin-top: 50px;
}
.abt-p{
  margin-left: 20px;
}
.abt-h1{
text-align: unset;
margin-left: 20px;
font-size: 25px;
overflow: hidden;
}
.abt-des{
  overflow-y: hidden;
  padding: 5px 5px;
  margin-left: 20px;
  font-size: 14px;
}

.abt-img{
  width: 85%;
  text-align: center;
  margin-left: 30px;
}
}