@media screen and (max-width: 480px){
    .footer{
        margin-left: 0px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px){
    .footer{
        margin-left: 0px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 375px){
    .footer{
        margin-left: 0px;
        padding: 10px;
    }
}