.puzzel3{
 position: absolute;
  width: 20%;
  top: 310%;
  left: 1050px;
  right: 0;
}

.btn-con{
width: 65%;
}

.cards img{
    border-radius: 10%;
}



.btn button{
    width: 45px;
    height: 45px;
    background: rgba(27, 11, 84, 1), rgba(61, 63, 135, 1), rgba(78, 137, 177, 1), rgba(37, 108, 120, 1);
}

.h{
    height:450px;
    transition: ease-in-out (-2%);
}

@keyframes toast-pop-open {
  0% {
    transform: translateX(120%);
  }

  75% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 480px){
  *{
    overflow-x: hidden;
  }
  .puzzel3{
    display: none;
  }
  .small-top{
    margin-top: 50px;
  }
  .text-p{
    text-align: unset;
    margin-left: 20px;
  }
  .text-h{
    font-size: 25px;
    overflow: hidden;
  }
  .carousel {
    margin-left: 20px;
  }
  .cards{
    display: block;
  }
  .test-des{
    width: 100%;
  }
  .name{
    margin-top: 20px;
    text-align: unset;
    font-size: 20px;
    overflow: hidden;
  }
  .btn-con{
    position: unset;
    margin-top: 30px;
    width: unset;
  }
  .btn{
    margin-right: 0px;
    margin-left: 190px;
  }
  .b{
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px){
  *{
    overflow-x: hidden;
  }
  .small-top{
    margin-top: 50px;
  }
  .text-p{
    text-align: unset;
    margin-left: 20px;
  }
  .text-h{
    font-size: 25px;
    overflow: hidden;
  }
  .carousel {
    margin-left: 20px;
  }
  .cards{
    display: block;
  }
  .test-des{
    width: 100%;
  }
  .name{
    margin-top: 20px;
    text-align: unset;
    font-size: 20px;
    overflow: hidden;
  }
  .btn-con{
    position: unset;
    margin-top: 30px;
    width: unset;
  }
  .btn{
    margin-right: 0px;
    margin-left: 190px;
  }
  .b{
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px){
  *{
    overflow-x: hidden;
  }
  .small-top{
    margin-top: 50px;
  }
  .text-p{
    text-align: unset;
    margin-left: 20px;
  }
  .text-h{
    font-size: 25px;
    overflow: hidden;
  }
  .carousel {
    margin-left: 15px;
  }
  .cards{
    display: block;
  }
  .test-des{
    width: 100%;
  }
  .name{
    margin-top: 20px;
    text-align: unset;
    font-size: 20px;
    overflow: hidden;
  }
  .btn-con{
    position: unset;
    margin-top: 30px;
    width: unset;
  }
  .btn{
    margin-right: 0px;
    margin-left: 190px;
  }
  .b{
    margin-top: 10px;
  }
}