.card-col{
    background-color: rgba(243, 231, 247, 1);
    padding: 20px 20px;
    border-radius: 8px;
}

.card-col2{
    background-color: rgba(213, 244, 249, 1);
      padding: 20px 20px;
    border-radius: 8px;
}

.card-col3{
    background-color: rgba(237, 235, 245, 1);
      padding: 30px 20px;
    border-radius: 8px;
}

.card-col4{
    background-color: rgba(244, 243, 243, 1);
      padding: 20px 20px;
    border-radius: 8px;
}

.main-con{
    background-color:rgba(217, 217, 217, 0.232);
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media screen and (max-width: 480px){
  .main-con{
    margin-top: 70px;
    padding: 20px;
  }
  .q{
    padding: 0px;
  }
  .que-h1{
    font-size: 25px;
    overflow: hidden;
    text-align: unset;
  }
  .que-p{
   text-align: unset;
  }
  .que-del{
    display: block;
    margin-left: 5px;
    width: 100%;
  }
  .card-col2{
    margin-left: 0px;
  }
  .card-col4{
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px){
  .main-con{
    margin-top: 70px;
    padding: 20px;
  }
  .q{
    padding: 0px;
  }
  .que-h1{
    font-size: 25px;
    overflow: hidden;
    text-align: unset;
  }
  .que-p{
   text-align: unset;
  }
  .que-del{
    display: block;
    margin-left: 5px;
    width: 100%;
  }
  .card-col2{
    margin-left: 0px;
  }
  .card-col4{
    margin-left: 0px;
  }
}